body {
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	/*font-size:12px;*/
	color:#666;
       background:url(../img/fundo.png);
}

table {
      font-family: arial;
      color: #505050;
}

table, td {
      font-size: 13px;
      font-family: arial;
      color: #505050;
}

#menu {
		position:relative;
	}

#menu ul{
    list-style:none;
    margin:0px;
	}

#menu p{
	position:absolute;
	top:0;
	}

#menu p a{
	display:block;
	text-decoration:none;
	width:100%;
	height:100%;
	top:0;
	}

#csc{
  width: 400px;
  height: 265px;
  background:url(../img/HelpdeskSociesc.png);
  background-size: 400px 265px;
}

#csc:hover {
  background:url(../img/HelpdeskSociesc2.png);
  background-size: 400px 265px;
}

#infra{
  width: 198px;
  height: 180px;
  background:url(../img/HelpInfra.png);
  background-size: 198px 180px;
}

#infra:hover {
  background:url(../img/HelpInfra2.png);
  background-size: 198px 180px;
}

#jur{
  width: 198px;
  height: 180px;
  background:url(../img/HelpJur.png);
  background-size: 198px 180px;
}

#jur:hover {
  background:url(../img/HelpJur2.png);
  background-size: 198px 180px;
}

.tbprincipal {
	width:860px;
	border: solid 1px #cccccc;
	margin-top:5%;
}

.cxselecao {
	width:100%;
	height:350px; !important
	}

.titulo {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	text-align:center;
}

.bemvindo {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#666;
	text-align:center;
}

.rodape {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666;
	text-align:center;
}

.filter-drop-shadow {
    -webkit-filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, .7));
    filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, .7));
}
